.sobre {
	border-bottom: 1px solid var(--verde-escuro);
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.sobre {
    text-align: center;
}

.sobre__titulo {
	font-weight: 700;
    font-size: 1.5rem;
}

.sobre__texto {
    font-size: 1rem;
    padding:1rem 0 1rem 0;
}